.section1 {
  padding: 60px 0;
  background-color: #99222b;
  color: #ffffff;
}
.section1__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 67px;
  color: #ffffff;
}
.section1__text {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.section1__link .link {
  background-color: #ffffff;
  color: #262626;
}
@media (max-width: 1024px) {
  .section1 {
    margin-top: 103px;
  }
  .section1__title {
    font-size: 40px;
    line-height: 48px;
  }
  .section1__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 767.98px) {
  .section1 {
    padding: 40px 0;
    margin-top: 64px;
  }
  .section1__title {
    font-size: 26px;
    line-height: 31px;
  }
  .section1__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
.section2 {
  padding: 80px 0 200px;
}
.section2__subtitle {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  opacity: 0.6;
}
.section2__superlink {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 96px;
}
@media (max-width: 767.98px) {
  .section2 {
    padding: 40px 0 100px;
  }
  .section2__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .section2__superlink {
    font-size: 40px;
    line-height: 48px;
  }
}

.section3 {
  padding: 0 0 200px;
}
.section3__text_l {
  flex: 0 1 49%;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  margin-right: 138px;
}
.section3__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}
.section3__text {
  flex: 0 1 49%;
}
.section3__flex-blocks {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 60px;
}
.section3__block_1 {
  flex: 0 1 224px;
  margin-right: 60px;
}
.section3__block_2 {
  flex: 0 1 453px;
}
.section3__block-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 145px;
  line-height: 174px;
  color: #99222b;
}
.section3__subtitle {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}
.section3__text_40 {
  max-width: 37%;
}
@media (max-width: 1024px) {
  .section3__text_40 {
    max-width: 55%;
  }
  .section3__text_l {
    flex: 0 1 49%;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-right: 20px;
  }
  .section3__block-title {
    font-size: 145px;
    line-height: 174px;
  }
}
@media (max-width: 767.98px) {
  .section3 {
    padding: 0 0 100px;
  }
  .section3__text_l {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .section3__flex-wrapper {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .section3__flex-blocks {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .section3__block-title {
    font-size: 120px;
    line-height: 144px;
    margin-bottom: 10px;
  }
  .section3__block_1, .section3__block_2 {
    margin-right: 0;
    flex: 1;
    width: 100%;
  }
  .section3__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .section3__text_40 {
    max-width: 100%;
    width: 100%;
  }
}
.section4 {
  padding-bottom: 200px;
}
.section4__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.section4__block {
  flex: 0 1 33%;
  margin-right: 20px;
  padding: 60px 20px;
  background: #f4f4f4;
  border-radius: 10px;
}
.section4__block:last-of-type {
  margin-right: 0;
}
@media (max-width: 1024px) {
  .section4__flex-wrapper {
    flex-wrap: wrap;
  }
  .section4__block {
    flex: 0 1 49%;
    margin: 0 0 20px 0;
    padding: 40px 20px;
  }
  .section4:first-of-type {
    margin-right: 20px;
  }
}
@media (max-width: 767.98px) {
  .section4 {
    padding: 0 0 100px;
  }
  .section4__flex-wrapper {
    flex-direction: column;
  }
  .section4__block {
    flex: 1;
    margin: 0 0 10px 0;
    padding: 20px 10px;
  }
}

.section5 {
  padding-bottom: 200px;
}
.section5__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.section5__flex-wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.section5__flex-block {
  flex: 0 0 45%;
}
.section5__text {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
}
@media (max-width: 1024px) {
  .section5__flex-wrapper {
    flex-direction: column;
    width: 60%;
  }
  .section5__text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
  }
}
@media (max-width: 767.98px) {
  .section5 {
    padding: 0 0 100px;
  }
  .section5__flex-wrapper {
    width: 100%;
  }
  .section5__text {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 479.98px) {
  .section5__text {
    font-size: 14px;
    line-height: 17px;
  }
  .section5__flex-wrapper2 {
    flex-direction: column;
  }
}

.form2__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.form2 input {
  display: block;
  width: 100%;
  height: 60px;
  margin: 0 0 20px;
  padding: 20px 40px;
  background: #f4f4f4;
  border-radius: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 105%;
}
.form2__button {
  margin-right: 20px;
  align-items: center;
  padding: 13px;
  width: 217px;
  min-width: 217px;
  height: 60px;
  background-color: #99222b;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: background-color 300ms;
}
.form2__button:hover {
  background-color: #262626;
}
.form2__conf, .form2__conf:visited {
  color: #99222b;
}
.form2 #phone2 {
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .form2 input {
    font-size: 14px;
    line-height: 105%;
    padding: 23px 20px;
    margin-bottom: 10px;
  }
  .form2 #phone2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 479.98px) {
  .form2__button {
    margin-bottom: 10px;
  }
}